.notification {
  background-color: lightgray;
  border-radius: 5px;
  padding: 1rem;
  margin-block: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.success {
  color: green;
  border: 2px solid green;
}

.error {
  color: red;
  border: 2px solid red;
}
